.table,
table,
th,
td {
  border: 1px solid black;
}

#presentation {
  background-color: rgb(169, 204, 14);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}

#featured-3 {
  background-image: url('/assets/images/herbivores\ savane.jpg ');
  background-size: cover;
  /* Ajuste l'image pour couvrir tout l'arrière-plan */
  background-position: center;
  /* Centre l'image */
}

.bg-image {
  background-image: url('/assets/images/herbivores\ savane.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}